<h1>Country Detail</h1>

<form method="post">
    <fieldset>
        <label for="name" class="col-sm-2">Name: *</label>
        <input name="name" id="name" required value="{{food.name}}" />
    </fieldset>
    <button class="btn btn-info offset-sm-2">Save</button>
</form>